


<div class="mainFlexContainer">
  <div class="flexContainer">
    <div class="container">
      <div class="subContainer">
        <form action="">
          <div class="white"><h1></h1></div>
          <input type="text" placeholder="LinkedIn Profile" class="firstInput" id="LinkedIn" [(ngModel)]="LinkedIn" name="LinkedIn" >
          <input type="text" placeholder="Facebook Profile" class="firstInput" id="Facebook" [(ngModel)]="Facebook" name="FaceBook" >
          <input type="text" placeholder="WhatsApp Contact" class="firstInput" id="WhatsApp" [(ngModel)]="WhatsApp" name="WhatsApp" >
          <input type="text" placeholder="Instagram Profile" class="firstInput" id="Instagram" [(ngModel)]="Instagram" name="Instagram" >
          <input type="text"  placeholder="Name" id="Name" [(ngModel)]="Name" name="Name">
          <button (click) = "submitCredentials()">Submit</button>

          </form>
      </div>

    </div>

</div>

</div>

