<div class="container">
  <form action="">
    <div class="house">
      <div class="one">
        <!-- <label for="Username">Username</label> -->
      <input type="username" id="Username" placeholder="Username" [(ngModel)] = "Username" name = "Username">
      </div>
      <div class="second">
        <!-- <label for="Password">Password: -->
          <input type="password" id="Password" placeholder="Password"  [(ngModel)] = "Password" name = "Password">
        <!-- </label> -->
      </div>
     <button type="submit" (click) = "submitCredentials()">Submit</button>
    </div>

    </form>

</div>
