<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <form action="">
  <div>
    <label for="Name">Name:
      <input id="Name" type="text" placeholder="Enter password">
    </label>
  </div>
  <div class="two">
    <label for="Password">Password:
      <input id="Password" type="text" placeholder="Enter password">
    </label>
  </div>
 </form>

 <p>

 </p>
 <p>

 </p>



</body>
</html>
